# never in the build context

# vcs
.git/
.gitignore
.dockerignore
Dockerfile

# deps
node_modules/

# build
build/
coverage/

# env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log

# os / ide
**/.DS_Store
.idea/
